* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 255, 255);
}

.hi {
    color: rgb(22, 22, 22);
    font-size: 8vh;
}

.name {
    margin-left: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-size: 5vh;
}

#arrow img {
    height: 35px;
    cursor: pointer;
}
#showname{
    background-color: white;
    position: absolute;
    padding: 20px;
    visibility: visible;
    left: -250px;
    user-select: none;
}
#title_icon{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.content {
    display: none;
}
.mainheader {
    display: flex;
    flex-direction: row;
    position: fixed;
    margin-top: -0px;
    z-index: +1111;
    box-shadow: 10px 0px 10px 0px;
}

.header {
    background-color: white;
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main {
    height: 100vh;
    background-color: black;
    display: flex;
}

.first {
    height: 100vh;
    width: 155vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 8vh;
    width: 15vw;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.facebook_icon:hover {
    height: 5vh;
}

.insta_icon:hover {
    height: 5vh;
}

.twitter_icon:hover {
    height: 5vh;
}

.linkedin_icon:hover {
    height: 5vh;
}

.github_icon:hover {
    height: 5vh;
}

.quoteicon:hover+.overquoteicon {
    display: block;
}

.overquoteicon {
    height: 80vh;
    width: 45vw;
    background-color: rgb(255, 255, 255);
    color: black;
    position: absolute;
    margin-left: 100%;
    margin-top: -6%;
    display: none;
}

.overbookicon {
    height: 80vh;
    width: 45vw;
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-left: 100%;
    margin-top: -6%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    visibility: hidden;
}

.bookicon:hover+.overbookicon {
    visibility: visible;
}

.heading {
    display: flex;
    align-self: center;
    background-color: yellow;
    color: black;
}

.list {
    font-size: 4vh;
}

.welcome {
    font-size: 160%;
    color: white;
    font-style: italic;
    font-family: 'Courier New';
    user-select: none;
}

.owner {
    height: 10vh;
    width: 20vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ver {
    height: 5.5vh;
}

.welcome_msg {
    color: rgb(255, 255, 255);
    user-select: none;
}

.second {
    height: 100vh;
    width: 150vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paragraph {
    color: black;
    text-align: center;
    padding: 18%;
    font-size: 35px;
}

.fpara {
    font-size: 200%;
    color: rgb(22, 22, 22);
}

.uperbox {
    background-color: #202020;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.box {
    background-color: rgb(255, 255, 255);
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.material-icons {
    font-family: 'Material Icons';
}

.material-icons:hover {
    color: rgb(246, 55, 55);
}

#span {
    display: flex;
    align-self: center;
}

.about1 {
    padding: 5.5px;
    background-color: transparent;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

.about1:hover {
    background-color: #202020;
    color: white;
}

.fimage {
    height: 250px;
    width: 250px;
    border-radius: 300%;
    pointer-events: none;
}

.option {
    width: 4vw;
    height: 60vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-top: 3vh;
    border-radius: 10px 0% 0% 10px;
    position: absolute;
}

.artworkicon {
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
    height: 18%;
    color: rgb(22, 22, 22);
    border: 4px solid white;
    border-radius: 10%;
    user-select: none;
}

.artworkicon:hover {
    border-color: #202020;
}

.overschoolicon {
    height: 80vh;
    width: 45vw;
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-left: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.artworkicon:hover+.overschoolicon {
    visibility: visible;
}

.black_blockoftheme {
    height: 20vh;
    width: 10vw;
    background-color: #202020;
    border-radius: 2vh;
}

.halfline_block_black {
    height: 6vh;
    width: 10vw;
    background-color: #383838;
    border-radius: 2vh 2vh 0vh 0vh;
}

.halfline_block_blue {
    height: 6vh;
    width: 10vw;
    background-color: rgb(33, 33, 105);
    border-radius: 2vh 2vh 0vh 0vh;
}

.halfline_block_white {
    height: 6vh;
    width: 10vw;
    background-color: rgb(255, 255, 255);
    border-radius: 2vh 2vh 0vh 0vh;
}

.blue_blockoftheme {
    height: 20vh;
    width: 10vw;
    background-color: rgb(28, 28, 65);
    border-radius: 2vh;
}

.defaultwhite_blockoftheme {
    height: 20vh;
    width: 10vw;
    background-color: rgb(255, 255, 255);
    border-radius: 2vh;
}

.material-icons1 {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    display: flex;
    justify-content: center;
    margin-top: 30%;
}

.material-icons2 {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    display: flex;
    justify-content: center;
    margin-top: 30%;
}

.workicon {
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
    height: 18%;
    color: rgb(22, 22, 22);
    border: 4px solid white;
    border-radius: 10%;
    user-select: none;
}

.workicon:hover {
    border-color: #202020;
}

.overworkicon {
    height: 80vh;
    width: 45vw;
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-left: 100%;
    margin-top: -6%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.workicon:hover+.overworkicon {
    visibility: visible;
}

.material-icons3 {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    display: flex;
    justify-content: center;
    margin-top: 30%;
}

.codeicon {
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
    height: 18%;
    color: rgb(22, 22, 22);
    border: 4px solid white;
    border-radius: 10%;
    user-select: none;
}

.codeicon:hover {
    border-color: #202020;
}

.overcodeicon {
    height: 80vh;
    width: 45vw;
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-left: 100%;
    margin-top: -6%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.codeicon:hover+.overcodeicon {
    visibility: visible;
}

.bookicon {
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
    height: 18%;
    color: rgb(22, 22, 22);
    border: 4px solid white;
    border-radius: 10%;
    user-select: none;
}

.bookicon:hover {
    border-color: #202020;
}

.quoteicon {
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
    height: 18%;
    color: rgb(22, 22, 22);
    border: 4px solid white;
    border-radius: 10%;
    user-select: none;
}

.quoteicon:hover {
    border-color: #202020;
}

.titles {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.thirdmain {
    background-color: #202020;
    color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdmain2 {
    background-color: rgb(255, 255, 255);
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card_1 {
    background-color: coral;
    height: 50vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading_1 {
    background-color: #ffffff;
    color: black;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 6vh;
}

.heading_2 {
    background-color: #ffffff;
    color: black;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 6vh;
}

.heading_3 {
    background-color: #ffffff;
    color: black;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 6vh;
}

.pen_icon {
    height: 35vh;
}

.card_2 {
    background-color: coral;
    height: 50vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.web_dev_image {
    height: 35vh;
}

.card_3 {
    background-color: coral;
    height: 50vh;
    width: 25vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tutor_image {
    height: 35vh;
}

#abouthim {
    background-color: #202020;
    color: white;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fourthmain {
    background-color: rgb(255, 255, 255);
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourthtext {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: #202020;
    color: white;
}

.fourth2main {
    height: 90vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.exp_box {
    height: 10vh;
    width: 90vw;
    background-color: coral;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.exp_box:hover {
    background-color: #202020;
    color: white;
}

.exp_text {
    margin-left: 10px;
}

.exp_dis {
    background-color: white;
    height: 30vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.frame {
    width: 50vw;
}

.list_in_about {
    font-size: x-large;
    color: #202020;
    height: 50vh;
    width: 70vw;
    background-color: transparent;
}

.de {
    width: 35vw;
    height: 90vh;
    background-color: #202020;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    flex-direction: column;
    align-content: flex-start;
}

.t {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.im {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragragh {
    background-color: coral;
    height: 20vh;
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sixthmain {
    height: 10vh;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 2vh;
}

.sixthmain_second {
    height: 90vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.telegramqr {
    height: 45vh;
    width: 30vw;
}

/* Skills */
.mybutton {
    padding: 1%;
    height: 10vh;
    width: 15vw;
    background-color: #202020;
    color: white;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mybutton:hover {
    background-color: white;
    color: black;
}

.skill {
    display: flex;
    justify-content: space-around;
}

.dot {
    height: 1vh;
    width: 15vw;
    background-color: coral;
}

.buttons {
    height: 45vh;
    width: 20vw;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.show {
    background-color: transparent;
    height: 45vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skillcontent {
    height: 20vh;
    width: 15vw;
    color: #202020;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.image_size_constent {
    height: 20vh;
}

.image_size_constent:hover {
    height: 21vh;
}
